/* Common CSS */

* {
  margin: 0;
  padding: 0;
  font-family: "Work sans", sans-serif;
  box-sizing: border-box;
}

/* header section css */

#header-section {
  overflow: hidden;
}
.header-element {
  position: relative;
}

.header-element img {
  width: 100%;
  display: block;
}

.header-content {
  width: 32%;
  position: absolute;
  top: 210px;
  right: 230px;
  bottom: 160;
  text-align: right;
}

.header-content h2 {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}

.header-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding: 30px 0;
}

.btn-primary {
  background-color: #f15b22;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #f15b22;
  color: #f15b22;
}

/* Banner-section css */

#banner-section {
  overflow: hidden;
}

.banner-container {
  display: flex;
  gap: 100px;
  padding: 130px 250px;
}

.banner-content {
  padding-top: 230px;
  text-align: left;
  width: 410px;
}
.banner-content h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  padding-bottom: 25px;
}

.banner-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-bottom: 16px;
}

.banner-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-bottom: 15px;
}

.fa-check {
  color: #16d887;
  font-size: 18px;
  padding-right: 10px;
}
