/* Common CSS */

* {
  margin: 0;
  padding: 0;
  font-family: "Work sans", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* header section css */

#header-section {
  overflow: hidden;
}
.header-element {
  position: relative;
}

.header-element img {
  width: 100%;
  display: block;
}

.header-content {
  width: 32%;
  position: absolute;
  top: 210px;
  right: 230px;
  bottom: 160;
  text-align: right;
}

.header-content h2 {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}

.header-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding: 30px 0;
}

.btn-primary {
  background-color: #f15b22;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #f15b22;
  color: #f15b22;
}

/* Banner-section css */

#banner-section {
  overflow: hidden;
}

.banner-container {
  display: flex;
  gap: 100px;
  padding: 130px 0;
}

.banner-content {
  padding-top: 230px;
  text-align: left;
  width: 410px;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  padding-bottom: 25px;
}

.banner-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-bottom: 16px;
}

.banner-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-bottom: 15px;
}

.fa-check {
  color: #16d887;
  font-size: 18px;
  padding-right: 10px;
}

/* My plan css */

#plan-section {
  overflow: hidden;
  padding-bottom: 130px;
}
#plan-section .section-title {
  text-align: center;
  padding-bottom: 50px;
}

.plan-element {
  display: flex;
  justify-content: space-around;
}

.plan-content {
  text-align: center;
  background-color: #f5f5f5;
  padding: 15px 15px;
  border-radius: 10px;
}
.plan-content h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  padding-top: 15px;
  color: #151414;
}
.plan-content p {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  padding-top: 15px;
  color: #737272;
}

.plan-content:hover {
  box-shadow: 5px 5px 10px #5f5f5f;
  transition: 0.4s;
}

/* Positive mindeset section */

#banner-positive-mindset-section {
  overflow: hidden;
  padding-bottom: 130px;
}

.positive-mindset-content {
  position: relative;
}

.blur-gradient {
  position: absolute;
  top: 0;
  left: 0;
}

.positive-mindset-desc {
  position: absolute;
  top: 60px;
  left: 65px;
}

.positive-mindset-desc .section-title {
  color: #ffffff;
}

.positive-mindset-desc .btn-primary {
  background-color: #ffffff;
  color: #f15b22;
  font-size: 20px;
}

.positive-mindset-desc .btn-primary:hover {
  border: 0;
}

#footer-section {
  overflow: hidden;
  background-color: #151414;
}

.footer-container {
  display: flex;
  color: #fff;
  gap: 330px;
  padding: 130px 0;
}

.future-content {
  width: 485px;
}

.future-content .section-title {
  color: #fff;
  padding-bottom: 20px;
}

.future-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}

.social-link img {
  padding-right: 20px;
}

.social-link a:last-child img {
  padding-right: 0;
}

.social-link a {
  text-decoration: none;
}

/* Form area css */
.form-area {
  width: 325px;
}

.form-area h5 {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 30px;
}

.form-area .type-box {
  background-color: transparent;
  height: 64px;
  width: 100%;
  border: 1px solid #737272;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 18px;
  color: #fff;
}

.form-area .btn-primary {
  background-color: #fff;
  color: #f15b22;
  font-size: 20px;
}
.form-area .btn-primary:hover {
  background-color: #f15b22;
  color: #fff;
}
